/* App.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.App-main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left; /* Align text to the left for better readability */
}
